<!--The content below is only a placeholder and can be replaced.-->
<div class="inventory-app">
    <p *ngIf="userName" class="welcome">
        Welcome: {{userName}} {{apiUrl}}
    </p>
    <button (click)="signIn()" class="ui button">Sign In</button>
    <app-product-form></app-product-form>
    <app-product-list [products]='products' (onProductSelected)="productWasSelected($event)"></app-product-list>

    <h2>Basic Request</h2>
    <button type="button" (click)="makeRequest()">Make Request</button>
    <div *ngIf="loading">loading...</div>
    <pre>{{data | json}}</pre>
</div>